.event-notice {

  position: absolute;
  width: 320px;
  height: 160px;
  left: 410px;
  top: 185px;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 38px;
  display: flex;
  color: #56776C;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  text-align: center;

  // #C4C4C4

  border-radius: 180px;
  background-color: #E6DDC6;
  border: 15px solid #537791;
}