.dixit-guesses {
  position: absolute;
  width: auto;
  height: 200px;
  left: 65px;
  top: 75px;
  border-radius: 30px;

  .dixit-guess {
    width: 140px;
    height: 210px;
    margin: 0 15px;
    border-radius: 30px;
    border: 5px solid #56776C;
  }

  .dixit-guess-zone {
    float: left;
  }

  .RED {
    @extend .dixit-guess;
    border-color: #F6A9A9;
  }

  .ORANGE {
    @extend .dixit-guess;
    border-color: #FFBF86;
  }

  .YELLOW {
    @extend .dixit-guess;
    border-color: #FFF47D;
  }

  .GREEN {
    @extend .dixit-guess;
    border-color: #C2F784;
  }

  .BLUE {
    @extend .dixit-guess;
    border-color: #E4FBFF;
  }

  .VIOLET {
    @extend .dixit-guess;
    border-color: #B8B5FF;
  }
}