.dixit-card-description {
  position: absolute;
  width: 330px;
  height: 105px;
  left: 425px;
  top: 360px;

  background: #F5EFE3;
  border: 4px solid #A6AA9C;
  border-radius: 30px;

  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #333333;
}

.dixit-card-decision {
  position: absolute;
  left: 550px;
  top: 428px;
}