.notification {

  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 38px;
  color: #56776C;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  border-radius: 180px;
  background-color: #E6DDC6;
  border: 15px solid #537791;
}